@font-face{
    font-family: fascinate;
    src: url(../fonts/Fascinate/Fascinate-Regular.ttf);
}
@font-face{
    font-family: sacramento;
    src: url(../fonts/Sacramento/Sacramento-Regular.ttf);
}
@font-face{
    font-family: alata;
    src: url(../fonts/Alata/Alata-Regular.ttf);
}
@font-face{
    font-family: abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face{
    font-family: alata;
    src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Bold.ttf);
}
